hey!

<div >
  <%= @user.first_name %>
</div> 
<div>
  <%= @dossier.purpose %>
</div>
<div>
  <%= @dossier.linkedin %>
</div>
<div>
  <%= @dossier.code_skills %>
</div>
<div>
  <%= @dossier.analytic_skills %>
</div>
<div>



