<div class="row">
  <div class="span12">
    <div class="btn-group pull-right">
      <% if @prev_dossier %>
        <%= link_to "← Previous", needs_review_show_path(@prev_dossier), :class => "btn glow"%>
      <% else %>
        <%= button_tag "← Previous", :class => "btn glow", :disabled => "disabled" %>
      <% end %>
      
      <%= link_to transition_path(@dossier, :reject), method: :put, data: { confirm: 'Are you sure?' }, :class => "btn glow" do %>
        <span class="icon"> </span> <span class="text"><i class="icon-trash"> Reject</i></span>
      <% end %>

      <%= link_to transition_path(@dossier, :mark_as_needs_interview), method: :put, data: { confirm: 'Are you sure?' }, :class => "btn glow" do %>
        <span class="icon"> </span> <span class="text"><i class="icon-ok-sign"> Needs Interview</i></span>
      <% end %>
      
      <% if @next_dossier %>
        <%= link_to "Next →", needs_review_show_path(@next_dossier), :class => "btn glow"%>
      <% else %>
        <%= button_tag "Next →", :class => "btn glow", :disabled => "disabled" %>
      <% end %>
    </div>
  </div>
</div>

<!-- renders the dossier show page for this dossier beneath the above buttons -->
<%= render :file => '/dossiers/show' %>

