<!-- APPLICATION SUMMARY BOX -->

<div class="dossier-form-container">

  <h2>Summary of <%= @user.full_name %>'s Application</h2>

  <%= render 'shared/collapser_button' %>

  <div class="collapsible">
    <h3>Account Information</h3>
    <hr>

    <ul>
      <li>
        <strong>Name:</strong> <em><%= @user.full_name %></em>
      </li>
      <li>
        <strong>Email:</strong> <em></em>
        <a href='mailto:<%=@user.email %>'><%= @user.email %></a>
      </li>
      <li>
        <strong>Phone Number:</strong> <em><%= @dossier.phone_number %></em>
      </li>
     
       <li>
        <strong>Skype:</strong>
        <em>
          <%=@dossier.skype%>
          <%= link_to "Call", "skype:#{@dossier.skype}" %>
        </em>
       </li>
     </div>

    </ul>

    <hr>
    <h3>Links</h3>
    <hr>

    <ul>
      <li>
        <strong>Twitter:</strong> <%= link_to "@#{@dossier.twitter}", "twitter://user?screen_name=#{@dossier.twitter}" %>
      </li>
      <li>
        <strong>Github:</strong> <%= link_to @dossier.github, @dossier.github %>
      </li>
      <li>
        <strong>Blog:</strong> <%= link_to @dossier.blog, @dossier.blog %>
      </li>
      <li>
        <strong>LinkedIn:</strong> <%= link_to @dossier.linkedin, @dossier.linkedin %>
      </li>
      <li>
        <strong>Website</strong> <%= link_to @dossier.website, @dossier.website %>
      </li>
      <li>
        <strong>Other Links:</strong> <%= link_to @dossier.other_links, @dossier.other_links %>
      </li>
    </ul>

    <hr>
    <h3>Background</h3>
    <hr>

    <h4>In 140 characters, tell us what makes you unique:</h4>
    <p><%= @dossier.tagline %></p>

    <h4>Question 1 - Career:</h4>
    <p><%= @dossier.career %></p>

    <h4>Question 2 - Purpose:</h4>
    <p><%= @dossier.purpose %></p>

    <h4>Question 3 - Code Skills:</h4>
    <p><%= @dossier.code_skills %></p>

    <h4>Question 4 - Analytics Skills</h4>
    <p><%= @dossier.analytic_skills %></p>

    <h4>Question 5 - Additional Tidbits:</h4>
    <p><%= @dossier.tidbits %></p>
  </div>

</div>