<!-- COMMENT BOX -->
<%= render 'dossiers/collapser_button' %>
<div class="dossier-form-container collapsible">

  
  <h6>Add a quick note about  <%= @user.full_name %></h6>

  
  <div>
    <div class="comments">
      <p><%= pluralize(@dossier.dossier_comments.count, 'Comment') %></p>
      <% @dossier.dossier_comments.each do |comment| %>
        <div class="comment">
          <strong><%= comment.user.full_name %></strong>: <%= comment.content %>
        </div>
      <% end %>
    </div>

    
    <%= form_tag dossier_dossier_comments_path(@dossier) do %>
      <%= label_tag "Comment" %>
      <%= text_area_tag "dossier_comment[content]" %>
      <%= hidden_field_tag "dossier_comment[dossier_id]", @dossier.id  %>
      <%= hidden_field_tag 'dossier_comment[user_id]', current_user.id %>
  <div class="span12 submit-box pull-right">
      <%= submit_tag "Submit Comment", :class => "btn-glow primary" %>

    <% end %>

   <!-- show the hashtags -->
   

    


  </div>

    <!-- show the hashtags -->
    <h6>Hashtags from comments:</h6>
    
      <% @dossier.hashtags.each do |hashtag| %>
        <span class="label label-info icon-star-empty">     <%= hashtag.content %></span>
      <% end %>
    

  </div>
  
</div>
