<%= render 'shared/collapser_button' %>
<strong>Add a quick note about <%= @user.full_name %></strong>
<div class="dossier-form-container collapsible">
  <div class="comments">
    <p><%= pluralize(@dossier.dossier_comments.count, 'Comment') %></p>
    <% @dossier.dossier_comments.each do |comment| %>
      <div class="comment">
        <strong><%= comment.user.full_name %></strong>: <%= comment.content %>
      </div>
    <% end %>

    <%= form_tag dossier_dossier_comments_path(@dossier) do %>
      <%= label_tag "Comment", nil, :style=> "display:inline;" %>
      <h5 class="use-hashtags">Prepend a "#" to any given word to add a #hashtag</h5>
      <%= text_area_tag "dossier_comment[content]" %>
      <%= hidden_field_tag "dossier_comment[dossier_id]", @dossier.id  %>
      <%= hidden_field_tag 'dossier_comment[user_id]', current_user.id %>
      <%= submit_tag "Submit Comment", :class => "btn-glow primary" %>
    <% end %>

  </div>
</div>
