<% @dossiers.each do |dossier| %>
  <tr id="dossier-<%= dossier.id %>">

    <td>
      <%= image_tag ("http://www.gravatar.com/avatar/#{dossier.user.gravatar_id}"),:class => "avatar img-circle hidden-phone"%>
      <span><%= link_to dossier.user.full_name, dossier %></span>
    </td>

    <td>
      <%= link_to dossier.aasm_state.humanize, dossier.path_to_workflow %>
    </td>

    <td>
      <ul>
        <% dossier.dossier_statuses.each do |status| %>
          <li>
            <strong><%= status.status.humanize.downcase %></strong> <%= time_ago_in_words(status.created_at) %> ago
          </li>
        <% end %>
      </ul>
    </td>

    <td>
      <%= render "needs_review/admin_actions", :dossier => dossier %>
    </td>

  </tr>
<% end %>