<% @dossiers.each do |dossier| %>
  <% # next if dossier.aasm_state == "rejected" %>
  <tr id="dossier-<%= dossier.id %>">
    
    <td>
      <img src="http://placekitten.com/55/55" class="img-circle avatar hidden-phone" />
      <%= link_to dossier.user.full_name, dossier, :class => "name"%>
    </td>
    
    <td>
      <a href='mailto:<%=dossier.user.email%>'><%= dossier.user.email %></a>
    </td>
    
    <td>
      <%= dossier.aasm_state.humanize %>
    </td>
    
    <td>
      <ul>
        <% dossier.dossier_statuses.each do |status| %>
          <li><strong><%= status.status.humanize.downcase %></strong> <%= time_ago_in_words(status.created_at) %> ago</li>
        <% end %>
      </ul>
    </td>
    
    <td>
      <%= render 'dossiers/admin_actions', :dossier => dossier %>

    </td>

  </tr>
<% end %>