  <div class="container">
    <div class="dossier-form-container new-user">
      <div class = "form-wrapper">
        <h1> <%= @user.name %>'s Application</h1>
        <br>
        <br>
   <!--  <form class="new_user_form inline-input"> -->  <%= form_tag user_dossiers_path, :class => 'new_user_form inline-input' do %>
  <h3> Account Information </h3>
  <!-- NAME -->
    <div class="span12 field-box">
      <br>
      <br>
      <%= label_tag "Name:", nil, :class=>'span3' %>
      <%= @user.name %>
    </div>
  <!-- EMAIL  -->
    <div class="span12 field-box">
      <%= label_tag "Email Address:", nil, :class=>'span3' %>
      <%= @user.email %>
    </div>

  <hr> <!-- Horizontal Rule -->

  <br>
  <br>
  <h3> Flatiron School Application </h3>
  <br>
  <br>
  <!-- TAGLINE -->
    <div class="span12 field-box">
    <%= label_tag "tagline", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[tagline]", nil, :class => 'span3' %>
    </div>
  <br>
  <br>
    <div class="span12 field-box">
    <%= label_tag "phone_number", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[phone_number]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "city", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[city]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "twitter", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[twitter]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "github", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[github]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "blog", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[blog]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "linkedin", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[linkedin]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "website", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[website]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "other_links", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[other_links]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "career", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[career]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "purpose", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[purpose]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "code_skills", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[code_skills]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "analytic_skills", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[analytic_skills]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "tidbits", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[tidbits]", nil, :class => 'span3' %>
    </div>

    <div class="span12 field-box">
    <%= submit_tag "Submit Application", :class=>'btn-glow primary'  %>
    </div>



  </div>
  


</div>



<%end%>  

</div>