<h3><%= @dossiers.count %> Total Dossiers</h3>

<%= form_tag dossiers_path, :method => "get" do %>
  <%= select_tag "sort_by", "<option>user</option><option>date</option>".html_safe %>
  <%= submit_tag "Sort now!", :class => "btn" %>
  <%= link_to "filters", dossiers_filter_by_path("all"), :class => "btn" %>
<% end %>

<div class="row-fluid table">
  <table class="table table-hover">
    <thead>
      <tr>
          <th class="span2 sortable">
              Name
          </th>
          <th class="span2 sortable">
              <span class="line"></span>Email
          </th>
          <th class="span4 sortable">
              <span class="line"></span>Tagline
          </th>
          <th class="span2 sortable">
              <span class="line"></span>Status
          </th>
      </tr>
    </thead>
    <tbody>
      <% @dossiers.each do |dossier| %> 
        <tr>
          <td>
            <img src="http://placekitten.com/55/55" class="img-circle avatar hidden-phone" />
            <%= link_to dossier.user.full_name, dossier, :class => "name"%>
          </td>
          <td>
            <a href='mailto:<%=dossier.user.email%>'><%= dossier.user.email %></a>
          </td>
          <td>
            <%= dossier.tagline %>
          </td>
          <td>
            <p><strong><%= dossier.aasm_state %></strong> | <%= link_to 'Change', new_dossier_dossier_status_path(dossier) %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>