
<%= form_tag dossiers_path, :method => "get" do %>
  <%= select_tag "sort_by", "<option>user</option><option>date</option>".html_safe %>
  <%= submit_tag "Sort now!" %>
  <%= link_to "filters", dossiers_filter_by_path("all") %>
<% end %>



<% @dossiers.each do |dossier| %> 

<li>
  <%= link_to name(dossier.user), dossier%>, |
  <a href='mailto:<%=dossier.user.email%>'><%= dossier.user.email %></a> |
  <%= dossier.tagline %> |
  <%= link_to 'Edit Dossier Status', new_dossier_dossier_status_path(dossier) %>
</li>

<% end %>
