<div class="row-fluid">
  <div class="span12" id="pad-wrapper">
    <div class="container">
      <div class="dossier-form-container">
        <h2> Flatiron Application</h2><br>
        <div class = "form-wrapper">
          <h4><strong> Account Information </strong> </h4>
          <hr> 




        <%= form_for @dossier do |f| %>




        
          <%= render "shared/error_messages", :target => @user %>

          <%= fields_for  @user do |u| %>
            
          

          <!-- USER STUFF -->
          <div class="span12 field-box">
            <%= u.label :first_name %>First Name<%= mark_required(@user, :first_name) %><br />
            <%= u.text_field :first_name %>
          </div>

          <div class="span12 field-box">
            <%= u.label :last_name %>Last Name<%= mark_required(@user, :last_name) %><br />
            <%= u.text_field :last_name %>
          </div>

          <div class="span12 field-box">
            <%= u.label :email %>E-mail<%= mark_required(@user, :email) %><br />
            <%= u.text_field :email %>
          </div>

         <!-- DOSSIER STUFF -->

         <div class="span12 field-box">
            <%= f.label :phone_number %>Phone Number<%= mark_required(@dossier, :phone_number) %><br />
            <%= f.text_field :phone_number %>
          </div>

          <div class="span12 field-box">
            <%= f.label :city %>Current City<%= mark_required(@dossier, :city) %><br />
            <%= f.text_field :city %>
          </div>

           </div>
  <br>
  <br>
        <h4><strong>Links</strong></h4>
          <hr> 

          <div class="span12 field-box">
            <%= f.label :twitter %>Twitter Handle<%= mark_required(@dossier, :twitter) %><br />
            <%= f.text_field :twitter %>
          </div>

          <div class="span12 field-box">
            <%= f.label :github %>Github Addy<%= mark_required(@dossier, :github) %><br />
            <%= f.text_field :github %>
          </div>

          <div class="span12 field-box">
            <%= f.label :blog %>Blog Addy<%= mark_required(@dossier, :blog) %><br />
            <%= f.text_field :blog %>
          </div>

          <div class="span12 field-box">
            <%= f.label :linkedin %>Linkedin Addy<%= mark_required(@dossier, :linkedin) %><br />
            <%= f.text_field :linkedin %>
          </div>

          <div class="span12 field-box">
            <%= f.label :website %>Your Website<%= mark_required(@dossier, :website) %><br />
            <%= f.text_field :website %>
          </div>

          <h4><strong>Background</strong></h4>
       <hr>
           <div class="span12 field-box">
            <%= f.label :tagline %>In 140 characters, tell us what makes you unique. <%= mark_required(@dossier, :tagline) %><br />
            <%= f.text_area :tagline %>
          </div>

             <div class="span12 field-box">
            <%= f.label :career %>Tell us about your professional/educational career to date. What are you up to now and how did you end up there?<%= mark_required(@dossier, :career) %><br />
            <%= f.text_area :career %>
          </div>

             <div class="span12 field-box">
            <%= f.label :purpose %>Describe your background with computer programming (if any). Feel free to include links to any online resources you've completed. <%= mark_required(@dossier, :purpose) %><br />
            <%= f.text_area :purpose %>
          </div>

             <div class="span12 field-box">
            <%= f.label :code_skills %>Describe your background with computer programming (if any). Feel free to include links to any online resources you've completed. <%= mark_required(@dossier, :code_skills) %><br />
            <%= f.text_area :code_skills %>
          </div>

             <div class="span12 field-box">
            <%= f.label :analytic_skills %>The ability to think in a structured or quantitative way to solve complex problems is an important element of being a successful developer. Can you tell us anything that demonstrates your abilities in that realm? (feel free to include anything from standardized test scores, previous areas of study, or relevant work experience)<%= mark_required(@dossier, :analytic_skills) %><br />
            <%= f.text_area :analytic_skills %>
          </div>

             <div class="span12 field-box">
            <%= f.label :tidbits %>Is there anything else you'd like us to know?<%= mark_required(@dossier, :tidbits) %><br />
            <%= f.text_area :tidbits %>
          </div>
     </div>

 </div> <%= fields_for  @course do |c| %>
 
          
 <br>
 <hr>      
          <div class="span12 field-box">
            <%= c.label :semester %>choose a semester<%= mark_required(@course, :semester) %><br />
            <%= c.select :semester, @course_list, :selected => [:semester] %>
          </div>



 <% end %>


          <div class="actions">
            <%= f.submit  "Submit Application", :class=>'btn-glow primary' %>
          </div>

          <%end%>
             </div>
 <br>
 <br>
    </div>

  </div>
        <% end %>


          </div>
</div>
</div>