<div class="row-fluid">
  <div class="span12" id="pad-wrapper">
    <div class="container">
      <div class="dossier-form-container">
        <h2> Flatiron Application</h2><br>
        <div class = "form-wrapper">
          
          
          <%= form_tag dossiers_path, :class => 'new_user_form inline-input' do %>
          <h4><strong> Account Information </strong> </h4>
          <hr> 
         <!-- NAME -->
          <div class="span12 field-box">
          <%= label_tag "First name", nil, :class=>'span3' %>
          <%= text_field_tag "user[first_name]", nil, :class => 'span9' %>
          </div>

          <div class="span12 field-box">
          <%= label_tag "Last name", nil, :class=>'span3' %>
          <%= text_field_tag "user[last_name]", nil, :class => 'span9' %>
          </div>

          <!-- EMAIL  -->
          <div class="span12 field-box">
          <%= label_tag "Email", nil, :class=>'span3' %>
          <%= text_field_tag "user[email]", nil, :class => 'span9' %>
          </div>

  
      <div class="span12 field-box">
      <%= label_tag "phone_number", nil, :class=>'span3' %>
      <%= text_field_tag "dossier[phone_number]", nil, :class => 'span9' %>
    </div>

    
      </div>
<br>
<br>
      <h4><strong>Links</strong></h4>
        <hr> 

      <div class="span12 field-box">
      <%= label_tag "twitter", nil, :class=>'span3' %>
      <%= text_field_tag "dossier[twitter]", nil, :class => 'span9' %>
      </div>

      <div class="span12 field-box">
      <%= label_tag "github", nil, :class=>'span3' %>
      <%= text_field_tag "dossier[github]", nil, :class => 'span9' %>
      </div>

      <div class="span12 field-box">
    <%= label_tag "blog", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[blog]", nil, :class => 'span9' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "linkedin", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[linkedin]", nil, :class => 'span9' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "website", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[website]", nil, :class => 'span9' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "other_links", nil, :class=>'span3' %>
    <%= text_field_tag "dossier[other_links]", nil, :class => 'span9' %>
    </div>

     <!-- TAGLINE -->
     <h4><strong>Background</strong></h4>
       <hr>

      <div class="span12 field-box">
      <%= label_tag "In 140 characters, tell us what makes you unique.", nil, :class=>'span12' %>
      <%= text_area_tag "dossier[tagline]", nil, :class => 'span12' %>
      </div>
    <br>

    <div class="span12 field-box">
    <%= label_tag "Describe your background with computer programming (if any). Feel free to include links to any online resources you've completed. *", nil, :class=>'span12' %>
    <%= text_area_tag "dossier[career]", nil, :class => 'span12' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "Describe your background with computer programming (if any). Feel free to include links to any online resources you've completed.", nil, :class=>'span12' %>
    <%= text_area_tag "dossier[purpose]", nil, :class => 'span12' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "Describe your background with computer programming (if any). Feel free to include links to any online resources you've completed.", nil, :class=>'span12' %>
    <%= text_area_tag "dossier[code_skills]", nil, :class => 'span12' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "The ability to think in a structured or quantitative way to solve complex problems is an important element of being a successful developer. Can you tell us anything that demonstrates your abilities in that realm? (feel free to include anything from standardized test scores, previous areas of study, or relevant work experience)", nil, :class=>'span12' %>
    <%= text_area_tag "dossier[analytic_skills]", nil, :class => 'span12' %>
    </div>

    <div class="span12 field-box">
    <%= label_tag "Is there anything else you'd like us to know?", nil, :class=>'span12' %>
    <%= text_area_tag "dossier[tidbits]", nil, :class => 'span12' %>
    </div>

    

    <div class = "span12 select-box">
            <%= label_tag "Semester", nil, :class=>'span3' %>
            <!--  -->
            <%= select_tag(:semester, options_for_select([['Spring', 1], ['Summer', 2], ['Fall', 3]], :selected => [:semester])) %><br><br>
   </div>
 </div>
 <br>
 <hr>
   <div class="span12 field-box">
    <%= submit_tag "Submit Application", :class=>'btn-glow primary'  %>
   </div>
 <br>
 <br>
    </div>

  </div>



  <%end%>  
  
  </div>
</div>
</div>