<body class="dossier-form-bg">

<div class="container">

<!-- APPLICATION STATUS BOX -->
  <div class="dossier-form-container">
      <a class="dropdown-toggle" href="#">
        <span><h2> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>'s Application Status </h2> close </span>
        <i class="icon-chevron-down"></i>
      </a>
    <hr>
      <h5>
      <ul> <% @dossier.dossier_statuses.each do |status| %>
        <li>Marked as <em><%= status.status.humanize.downcase %></em> on <%= status.created_at.strftime("%A, %b %d at %I:%M %p") %>
        </li>
        <% end %>
      </ul>
      </h5>
  </div>


  <% if current_user.id == @dossier.user_id  %>
    
  
<!-- PREWORK BOX --> 
  <div class="dossier-form-container">
    <a class="dropdown-toggle" href="#">
      <span><h2> Flatiron School Prework </h2> close </span>
      <i class="icon-chevron-down"></i>
    </a>
    <hr>
    <br>
    <table width="100%" cellpadding="10">
      <tr>
        <th>
        <%= link_to image_tag("flatironschool_logo.png"), "http://prework.flatironschool.com/" %>
        </th>
        <th>
          <h4> In our prework you're going to find a ton of reading, videos, and quizzes that Flatiron students complete before their semester even begins. <br> <br><a href="http://teamtreehouse.com/"> Link to Flatiron School Prework </a></h4>
        </th>
      </tr>
    </table>
    <hr> 
    <table width="100%" cellpadding="10">
      <tr>
        <br>
        <h4> We also highly recommended the following courses to supplement the Flatiron School prework. Have fun with it and enjoy. This is just the beginning! </h4>
        <th>
        <%= link_to image_tag("treehouse_logo.jpg"), "http://teamtreehouse.com/" %>
        <p><a href="http://teamtreehouse.com/"> Get started with Treehouse </a></p>
        </th>
        <br>
        <th>
        <%= link_to image_tag("codeschool_logo.png"), "http://www.codeschool.com/paths/ruby" %>
        <p><a href="http://www.codeschool.com/paths/ruby"> Get started with Code School</a></p>
        </th>
        <br>
        <th>
        <%= link_to image_tag("codeacademy_logo.png"), "http://www.codecademy.com/tracks/ruby/" %>
        <p><a href="http://www.codecademy.com/tracks/ruby/"> Get started with Codeacademy </a></p>
        </th>
      </tr>
    </table>
   </div>

   <% end %>

<!-- APPLICATION SUMMARY BOX -->
  <div class="dossier-form-container">
    <a class="dropdown-toggle" href="#">
      <span><h2>Summary of <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>'s Application </h2> close </span>
      <i class="icon-chevron-down"></i>
    </a>
    <hr>

    <p id="notice"><%= notice %></p>

    <ul class="submenu" style="display: block;">
    <br>
    <h3><strong> Account Information </strong> </h3>
    <hr> 

    <h5>
      <b>Name:</b>
      <em><%= @user.first_name %> </em> <em> <%= @user.last_name %></em>
    </h5>
    <br>

    <h5>
      <b>Email:</b>
      <%= @user.email %>
    </h5>
    <br>

    <h5>
      <b>Phone Number:</b>
      <%= @dossier.phone_number %>
    </h5>
    <br>
    <br>
    <h3><strong> Links </strong> </h3>
    <hr> 

    <h5>
      <b>Twitter:</b>
      <%= @dossier.twitter %>
    </h5>
    <br>

    <h5>
      <b>Github:</b>
      <%= @dossier.github %>
    </h5>
    <br>

    <h5>
      <b>Blog:</b>
      <%= @dossier.blog %>
    </h5>
    <br>

    <h5>
      <b>LinkedIn:</b>
      <%= @dossier.linkedin %>
    </h5>
    <br>

    <h5>
      <b>Website:</b>
      <%= @dossier.website %>
    </h5>
    <br>

    <h5>
      <b>Other Links:</b>
      <%= @dossier.other_links %>
    </h5>
    <br>

    <br>
    <h3><strong> Background </strong> </h3>
    <hr> 
    <h5>
      <b>In 140 characters, tell us what makes you unique:</b>
      <%= @dossier.tagline %>
    </h5>
    <br>

    <h5>
      <b>Question 1 - Career: </b>
      <%= @dossier.career %>
    </h5>
    <br>

    <h5>
      <b>Question 2 - Purpose: </b>
      <%= @dossier.purpose %>
    </h5>
    <br>

    <h5>
      <b>Question 3 - Code Skills:</b>
      <%= @dossier.code_skills %>
    </h5>
    <br>

    <h5>
      <b>Question 4 - Analytic Skills:</b>
      <%= @dossier.analytic_skills %>
    </h5>
    <br>

    <h5>
      <b>Question 5 - Additional Tidbits:</b>
      <%= @dossier.tidbits %>
    </h5>
    <br>
    <br>
    <h3><strong> Semester </strong> </h3>
    <hr> 
    <h5>

    <h5>
      <b>Semester Applying To:</b>
      <%= @dossier.semester %>
    </h5>
    <br>
    </ul>  
  </div>


  <% if can? :update, @dossier  %>
    
  
<!-- COMMENT BOX -->
  <div class="dossier-form-container">
      <a class="dropdown-toggle" href="#">
        <span><h2> Comments re: <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %> </h2> close </span>
        <i class="icon-chevron-down"></i>
      </a>
    <hr>
      <% @dossier.dossier_comments.each do |comment| %>
      <%= comment.content %>
      <% end %>
      <br>
      <%= form_tag dossier_dossier_comments_path(@dossier) do %>
      <%= label_tag "Comment" %>
      <%= text_area_tag "dossier_comments[content]" %>
      <%= hidden_field_tag "dossier_comments[dossier_id]", @dossier.id  %>
      <%= submit_tag "Submit Comment" %>
      <% end %>
  </div>
  <% end %>

</div>
</body>