<body class="dossier-form-bg">

<div class="container">

  <div class="dossier-form-container">
      <a class="dropdown-toggle" href="#">
        <span><h2> <%= @user.first_name %>'s Application Status</h2> </span>
        <i class="icon-chevron-down"></i>
      </a>
     <hr>
 
        <% @dossier.dossier_statuses.each do |status| %>
       <%= status.status %> on <%= status.updated_at %> 
        <% end %>
   
  </div>


   <div class="dossier-form-container">
    <a class="dropdown-toggle" href="#">
      <i class="icon-chevron-down"></i>
    <h2>Prework</h2>
    </a>
    <hr>
    <br>
    <h4><strong> Flatiron Prework </strong> </h4>
    <hr> 
    <p><a href="http://prework.flatironschool.com/"> Link to Flatiron School Prework </a></p>
    <br>
    <h4><strong> Code Academy </strong> </h4>
    <hr> 
    <p><a href="http://prework.flatironschool.com/"> Link to Flatiron School Prework </a></p>
    <br>
    <h4><strong> Treehouse </strong> </h4>
    <hr> 
    <p><a href="http://prework.flatironschool.com/"> Link to Flatiron School Prework </a></p>
   </div>

   <div class="dossier-form-container">
    <a class="dropdown-toggle" href="#">
      <i class="icon-chevron-down"></i>


    <p id="notice"><%= notice %></p>


    <h2>Application Summary</h2>
    </a>
    <hr>
    <ul class="submenu" style="display: block;">
    <br>
    <h4><strong> Account Information </strong> </h4>
    <hr> 

    <p>
      <b>Name:</b>
      <em><%= @user.first_name %> </em> <em> <%= @user.last_name %></em>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Phone Number:</b>
      <%= @user.email %>
    </p>

    <br>
    <h4><strong> Links </strong> </h4>
    <hr> 

    <p>
      <b>Twitter:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Github:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Blog:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>LinkedIn:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Website:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Other Links:</b>
      <%= @user.email %>
    </p>


    <br>
    <h4><strong> Background </strong> </h4>
    <hr> 
    <p>
      <b>In 140 characters, tell us what makes you unique:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 1:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 2:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 3:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 4:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 5:</b>
      <%= @dossier.tagline %>
    </p>

  </ul>
   
  </div>
</div>
</body>