<body class="dossier-form-bg">

<div class="container">

<!-- APPLICATION STATUS BOX -->
  <div class="dossier-form-container">
      <a class="dropdown-toggle" href="#">
        <span><h2> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>'s Application Status </h2> close </span>
        <i class="icon-chevron-down"></i>
      </a>
    <hr>
    <li>
      <h5><% @dossier.dossier_statuses.each do |status| %>
          <%= status.status.capitalize %> on <%= status.updated_at %> 
          <% end %> 
      </h5>
    </li>
  </div>

<!-- PREWORK BOX --> 
  <div class="dossier-form-container">
    <a class="dropdown-toggle" href="#">
      <span><h2>Flatiron School Prework</h2> close </span>
      <i class="icon-chevron-down"></i>
    </a>
    <hr>
    <br>
    <%= link_to image_tag("flatironschool_logo.png"), "http://prework.flatironschool.com/" %>
    <p><a href="http://prework.flatironschool.com/"> Link to Flatiron School Prework </a></p>
    <br>
    <hr> 
    <%= link_to image_tag("treehouse_logo.jpg"), "http://teamtreehouse.com/" %>
    <p><a href="http://teamtreehouse.com/"> Link to Flatiron School Prework </a></p>
    <br>
    <hr> 
    <%= link_to image_tag("codeschool_logo.png"), "http://www.codeschool.com/paths/ruby" %>
    <p><a href="http://www.codeschool.com/paths/ruby"> Link to Flatiron School Prework </a></p>
    <br>
    <hr> 
    <%= link_to image_tag("codeacademy_logo.png"), "http://www.codecademy.com/tracks/ruby/" %>
    <p><a href="http://www.codecademy.com/tracks/ruby/"> Link to Flatiron School Prework </a></p>
   </div>

<!-- APPLICATION SUMMARY BOX -->
   <div class="dossier-form-container">
    <a class="dropdown-toggle" href="#">
      <span><h2>Application Summary</h2> close </span>
      <i class="icon-chevron-down"></i>
    </a>
    <hr>

    <p id="notice"><%= notice %></p>

    <ul class="submenu" style="display: block;">
    <br>
    <h4><strong> Account Information </strong> </h4>
    <hr> 

    <p>
      <b>Name:</b>
      <em><%= @user.first_name %> </em> <em> <%= @user.last_name %></em>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Phone Number:</b>
      <%= @user.email %>
    </p>

    <br>
    <h4><strong> Links </strong> </h4>
    <hr> 

    <p>
      <b>Twitter:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Github:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Blog:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>LinkedIn:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Website:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Other Links:</b>
      <%= @user.email %>
    </p>


    <br>
    <h4><strong> Background </strong> </h4>
    <hr> 
    <p>
      <b>In 140 characters, tell us what makes you unique:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 1:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 2:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 3:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 4:</b>
      <%= @dossier.tagline %>
    </p>

    <p>
      <b>Question 5:</b>
      <%= @dossier.tagline %>
    </p>

  </ul>
   
  </div>
</div>
</body>