<% dossiers.each do |dossier| %>
        <tr id="dossier-<%= dossier.id %>">
          <td>
            <%= image_tag ("http://www.gravatar.com/avatar/#{dossier.user.gravatar_id}"),:class => "avatar img-circle hidden-phone"%>
            <%= link_to dossier.user.full_name, interview_show_path(dossier), :class => "name" %>
          </td>
        
          <td>
            <%= time_ago_in_words(dossier.dossier_statuses.first.created_at) %> ago
          </td>
          <!-- interview time -->
          <td>
            <%= dossier.read_interview_time %>
          </td>


          <td>
            <%= dossier.aasm_state.humanize %>
          </td>
          <% if dossier.interviews.count > 0 %>
            <td>Claimed by <%= dossier.interviews.last.user.full_name %></td>
          <% else %>
            <td><%= link_to "Claim interview", claim_interview_path(dossier), :method => "POST" %></td>
          <% end %>
        </tr>
      <%end%>