<h3><%= pluralize @dossiers.count, "Dossier" %> </h3>

<div class="row-fluid table">
  <table class="table table-hover">
    <thead>
      <tr>
          <%= render "dossiers/table_header_dynamic_sort", :link_name => "Name", :link_path => dossier_interview_path(sort_by: "user") %>

          <%= render "dossiers/table_header_dynamic_sort", :link_name => "Email", :link_path => dossier_interview_path(sort_by: "email") %>

          <!-- checking sort_by method to accept interview attributes -->
          <%= render "dossiers/table_header_dynamic_sort", :link_name => "Date Offer Sent", :link_path => dossier_interview_path(sort_by: "interview_created_at") %>


          <!-- Interview Time use render once date/time exsist!!!!1 -->
          <th class="span2">
              <span class="line"></span>Interview Time
          </th>


          <%= render "dossiers/table_header_dynamic_sort", :link_name => "Interview Type", :link_path => dossier_interview_path(sort_by: :aasm_state) %>

          <%= render "dossiers/table_header_static_sort", :header_name => "Interviewer"%>
      </tr>
    </thead>
    <%= render "needs_interview_table_details", :dossiers => @dossiers %>

    <!-- interview index table details -->
    <tbody>
      
    </tbody>
  </table>
</div>