<div class="row-fluid calendar-wrapper">
  <div class="span12">
    <!-- calendar goes into this next div -->
    <div id='calendar'></div>
  </div>
</div>

<h3><%= pluralize dossier_count_by_state(:needs_interview), "Dossier" %> </h3>

<div class="row-fluid table">
  <table class="table table-hover">
    <thead>
      <tr>
          <th class="span2 sortable">Name</th>
          <th class="span2 sortable">
              <span class="line"></span>Email
          </th>
          <th class="span4 sortable">
              <span class="line"></span>Date Offer Sent
          </th>
          <th class="span2 sortable">
              <span class="line"></span>Interview type
          </th>
          <th class="span2">
            <span class="line"></span>Interviewer
          </th>
      </tr>
    </thead>
    <tbody>
      <% @dossiers.each do |dossier| %>
        <% if dossier.needs_interview? %>
          <tr id="dossier-<%= dossier.id if dossier.needs_interview?%>">
            <td>
              <img src="http://placekitten.com/55/55" class="img-circle avatar hidden-phone" />
              <%= link_to dossier.user.full_name, dossier, :class => "name" if dossier.needs_interview?%>
            </td>
            <td>
              <a href='mailto:<%=dossier.user.email if dossier.needs_interview? %>'><%= dossier.user.email if dossier.needs_interview?%></a>
            </td>
            <td>
              <%= time_ago_in_words(dossier.dossier_statuses.first.created_at) %> ago
            </td>
            <td></td>
            <td></td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>