<h3><%= pluralize @dossiers.count, "Dossier" %> </h3>

<div class="row-fluid table">
  <table class="table table-hover">
    <thead>
      <tr>
          <th class="span2 sortable">Name</th>
          <th class="span2 sortable">
              <span class="line"></span>Email
          </th>
          <th class="span4 sortable">
              <span class="line"></span>Date Offer Sent
          </th>
          <!-- Interview Time -->
          <th class="span2">
              <span class="line"></span>Interview Time
          </th>


          <th class="span2 sortable">
              <span class="line"></span>Interview type
          </th>
          <th class="span2">
            <span class="line"></span>Interviewer
          </th>
      </tr>
    </thead>
    <tbody>
      <% @dossiers.each do |dossier| %>
        <tr id="dossier-<%= dossier.id %>">
          <td>
            <img src="http://placekitten.com/55/55" class="img-circle avatar hidden-phone" />
            <%= link_to dossier.user.full_name, interview_show_path(dossier), :class => "name" %>
          </td>
          <td>
            <a href='mailto:<%=dossier.user.email %>'><%= dossier.user.email %></a>
          </td>
          <td>
            <%= time_ago_in_words(dossier.dossier_statuses.first.created_at) %> ago
          </td>
          <!-- interview time -->
          <td>
            <%= dossier.read_interview_time %>
          </td>


          <td>
            <%= dossier.aasm_state.humanize %>
          </td>
          <% if dossier.interviews.count > 0 %>
            <td>Claimed by <%= dossier.interviews.last.user.full_name %></td>
          <% else %>
            <td><%= link_to "Claim interview", claim_interview_path(dossier), :method => "POST" %></td>
          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>