<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: <% @user.errors.full_messages.each do |msg| %> <%= msg %>
      <% end %> </h5>
      
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name%>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class= "field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

    <div class= "field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>


  <div class="actions">
    <%= submit_tag "Submit", :class => "btn-glow primary login" %>
  </div>

<% end %>
