


<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <blink><i><%= @user.name %></i></blink>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<h2>Dossier Timeline</h2>
<ul>
  <% @user.last_dossier.dossier_statuses.each do |status| %>
  <li><%= status.state %> on <%= status.updated_at %> 
  </li>    
  <% end %>
  
</ul>


<%= link_to 'Edit User Info', edit_user_path(@user) %> |
<%= link_to 'Edit User Status', new_user_statu_path(@user) %>
<%= link_to 'Back', users_path %>
