<div class="row-fluid table">
  <table class="table table-hover thinner-table">
    
    <tbody class="tbody-border">

      <tr class="row-height thinner">
        <td class="quarter-width">
          <span class="label label-info">New</span>
        </td>
        <td class="quarter-width">
          <h3 class="text-center"><%= name(dossier.user) %></h3>
        </td>
        <td class="quarter-width detail-width-big">
              <div class="btn-group detail-position-big">
                <button class="btn-flat inverse icon-thumbs-down push-it-up">Admin Actions<i class="icon-thumbs-up"></i></button>
                <button class="btn glow dropdown-toggle push-it-up" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <%= render "dossiers/admin_actions", :dossier => dossier %>
              </div>
        </td>


        <td class="quarter-width detail-width">
        <a class = "btn-flat default icon-heart-empty fancybox detail-position" data-href="<%= interview_show_path(dossier.id, :layout => "false") %>" href="#">
            See Application
            <i class=""></i>
          </a>
        </td>
      </tr>

      <tr class="fifty-width">
        <td class="half-width" rowspan="3" colspan="2">
          <dl>
            <dt class="interview-time-term">Can attend in NYC?</dt>
            <dd class="interview-link-detail"><span class="label label-info thinner-short-stat"><%= dossier.nyc %></span></dd>

            <dt class="interview-time-term">Tech Links:</dt>
            <dd class="interview-link-detail">
              <span class="label label-info thinner-short-stat"><%= dossier.link_count %></span>
            </dd>

            <dt class="interview-time-term">Word Count:</dt>
            <dd class="interview-link-detail">
              <span class="label label-info thinner-short-stat"><%= dossier.word_count %></span>
            </dd>
          </dl>
        </td>
        <td class="half-width" rowspan="3" colspan="2">
        <%= four_hundred_twenty_chars(dossier.purpose) %>

        </td>
      </tr class="fifty-width">
      <tr class="clear-both">

         
      </tr>
      <tr>
        
      </tr>

      <tr class="row-height thinner-last-row">
        <td class="quarter-width hundred-width">

          <%= link_to "Reject", transition_path(dossier, :reject), method: :put, :class => "btn-flat danger icon-remove-sign", data: {confirm: 'Are you sure?'} %>

        </td>
        <td class="half-width" colspan="2">
          <h4 class="text-center thinner-tagline"><%= one_hundred_forty_chars(dossier.tagline) %></h4>
        </td>
        <td class="quarter-width detail-width">

          <%= link_to "Keep", transition_path(dossier, :mark_as_needs_review), method: :put, :class => "btn-flat success icon-check detail-position-review"%>

        </td>
      </tr>

    </tbody>
  </table>
</div>
