<div class="row-fluid table">
  <table class="table table-hover thinner-table">
    
    <tbody class="tbody-border">

      <tr class="row-height">
        <td class="quarter-width">
          <span class="label label-info">New</span>
        </td>
        <td class="quarter-width">
          <h3 class="text-center"><%= name(dossier.user) %></h3>
        </td>
        <td class="quarter-width detail-width-big">
              <div class="btn-group detail-position-big">
                <button class="btn-flat inverse icon-thumbs-down">Admin Actions<i class="icon-thumbs-up"></i></button>
                <button class="btn glow dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <%= render "dossiers/admin_actions", :dossier => dossier %>
              </div>
        </td>


        <td class="quarter-width detail-width">
        <a class = "btn-flat default icon-heart-empty fancybox detail-position" data-href="<%= fancybox_path(dossier.id, :layout => "false") %>" href="#">
            See My Dossier
            <i class=""></i>
          </a>
        </td>
      </tr>

      <tr class="fifty-width">
        <td class="half-width" rowspan="3" colspan="2">
          <div>
            <p class="one-line">Can attend in NYC?</p><span class="label label-info thinner-short-stat"><%= dossier.nyc %></span>
          </div>
          <div>
            <p class="one-line">Tech Links:</p><span class="label label-info thinner-long-stat"><%= dossier.link_count %></span>
          </div>
          <div>
            <p class="one-line">Word Count:</p><span class="label label-info thinner-med-stat"><%= dossier.word_count %></span>
          </div>
        </td>
        <td class="half-width" rowspan="3" colspan="2">
        <%= four_hundred_twenty_chars(dossier.purpose) %>

        </td>
      </tr class="fifty-width">
      <tr class="clear-both">

         
      </tr>
      <tr>
        
      </tr>

      <tr class="row-height">
        <td class="quarter-width">

          <%= link_to "Reject", transition_path(dossier, :reject), method: :put, :class => "btn-flat danger icon-remove-sign" %>

        </td>
        <td class="half-width" colspan="2">
          <h4 style="text-align:center;"><%= dossier.tagline %></h4>
        </td>
        <td class="quarter-width detail-width">

          <%= link_to "Review Further", transition_path(dossier, :mark_as_needs_review), method: :put, :class => "btn-flat success icon-check detail-position"%>

        </td>
      </tr>

    </tbody>
  </table>
</div>
