<% @thinner.each do |dossier| %>

    <div class="thinner-wrap">    
      <div id="pad-wrapper" class="user-profile">
        <!-- header -->
        <div class="row-fluid header">
          <div class="span12" style="padding-top:35px; border-top:1px solid;">
            <img src="http://placekitten.com/100/100" class="avatar img-circle">
            <h3 class="name"><%= name(dossier.user) %></h3>
            <span class="area">Graphic Designer</span>
            <div class="area">
              <em><%= one_hundred_forty_chars(dossier.tagline)%></em>
            </div>
          </div>
        </div>
        </div>
          <!-- biography below -->
          <div class="span12">
                <h3>Flatiron Purpose</h3>
                <p class="span12" style="padding:40px; margin:20px;"><%= four_hundred_twenty_chars(dossier.purpose)%></p>
          </div>
            <%= form_tag thinner_decision_path(dossier.id), method:"post" do %>
              <div class="span12" style="margin-bottom:60px;">
                  <%= submit_tag "Reject", :class => "btn btn-danger span6"%>
                  <%= submit_tag "Review Further", :class => "btn btn-primary span6"%>
              </div>

            <% end %>
    </div>  

<% end %>