<h1>Change User Status</h1>

<h2>Status History for <%= @user.name %></h2>
<% @user.statuses.each do |status| %>
<%= status.state %> | <%= status.created_at %>
<% end %>

<%= form_for(@user, :url => user_status_path, :method=> "POST") do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Change <%= @user.name%>'s status</h2>
<% Status.list.each do |status| %>
  <div class="field">
    <%= label_tag(:status, status) %>
    <%= radio_button_tag(:status, status) %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

#create radio buttons for statuses
#logic for: if you submit an already-had status, then don't save it

#submit