<h2 style="text-align:center; margin-bottom:20px;">Upcoming Courses</h2>
<div class="row-fluid table">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Course</th>
      <th>Total Applications</th>
      <th>Spots Left</th>
      <th>Time Left</th>
    </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td>
            <%= link_to course.semester, course_path(course) %>
          </td>
          <td>
            <%= course.count_all %>
          </td>
          <td>
            <%= course.seats - course.count_dossiers_with_status("committed") %>
          </td>
          <td>
            <%= (course.starting_date - Date.today).to_i %> days
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr>



<h2 style="text-align:center;">Admissions Activity</h2>
  <%= link_to "Daily", dashboard_path(:graph => "daily"), :class=> "btn glow left active" %>
  <%= link_to "Weekly", dashboard_path(:graph => "weekly"), :class=> "btn glow right" %>

<div id="bar-example" data-viewed_today="<%= @viewed_today %>" data-viewed_yesterday="<%= @viewed_yesterday %>" data-interviewed_today="<%= @interviewed_today %>" data-interviewed_yesterday="<%= @interviewed_yesterday %>"data-reviewed_today="<%= @reviewed_today %>" data-reviewed_yesterday="<%= @reviewed_yesterday %>" data-resolved_today="<%= @resolved_today %>" data-resolved_yesterday="<%= @resolved_yesterday %>">
</div>

<!--  -->

