<h1>Dashboard</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Spots Left</th>
      <th>Time Left</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.semester %>
        </td>
        <td>
          <%= course.seats - course.count_dossiers_with_status("committed") %>
        </td>
        <td>
          <%= (course.starting_date - Date.today).to_i %> days
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>


<h3>Total applications by each course</h3>

<% @courses.each do |course| %>
  <p><%= course.semester %>: <%= course.count_all %></p>
<% end %>


<h3>Total needs_payment actions this past week by course</h3>
<p>(People who have been accepted this week. is that accurate?)</p>

<% @courses.each do |course| %>
  <p><%= course.count_actions_this_past_week_by_status("needs payment") %></p>
<% end %>

<h3>Gender breakdown</h3>

<div style="width: 250px" data-male="<%= @male_count %>" data-female="<%= @female_count %>" data-other="<%= @other_count %>" id="donut-example"></div>

<h3>Velocity</h3>

<div id="bar-example" data-accepted_today="<%= @accepted_today %>" data-accepted_yesterday="<%= @accepted_yesterday %>" data-rejected_today="<%= @rejected_today %>" data-rejected_yesterday="<%= @rejected_yesterday %>"></div>