<!-- current courses select box -->
<h1>
  List of courses
</h1>

<div>
<% @courses.each do |course| %>
  <div>
    <%= course.semester %>
  </div>
<% end %>
</div>

<!-- class stats view -->
<div class="class-stats">
</div>


<!-- the needs decision view -->
<div class="needs_decision">
  <h2 style="text-align:center;">Applicants who Need a Decision</h2>
  <div class="row-fluid table">
    <table class="table table-hover">

      <% @dossiers.each do |dossier| %>
        <tbody class="tbody-border">

          <tr>
            <!-- column 1 -->
            <td class="quarter-width">
              <span class="label label-info"><%= dossier.aasm_state %></span><h3 style="display:inline-block; padding-left:0; margin-left:0;"><%= dossier.user.full_name %></h3>
            </td>

            <!-- column 2 -->
            <td class="quarter-width">
              <a class = "btn-flat default icon-heart-empty fancybox" data-href="<%= dossier_path(dossier.id, :layout => "false") %>" href="#">
                See App
                <i class=""></i>
              </a>
            </td>

<!-- replace the below with the right select box button. -->
            <!-- column 3 -->
            <td class="quarter-width">

              <div class="btn-group">
                <button class="btn-flat inverse icon-thumbs-down"><i class="icon-thumbs-up"></i></button>
                <button class="btn glow dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                  <ul class="dropdown-menu">
                    <% dossier.aasm.events.each do |admin_action| %>
                      <li>
                        <%= link_to admin_action.to_s.humanize, transition_path(dossier, admin_action), method: :put, data: {confirm: 'Are you sure?'} %>
                      </li>
                      <li><%= link_to "Reject", transition_path(dossier, :reject), method: :put, data: { confirm: 'Are you sure?' } %>
                      </li>
                      <li><%= link_to "Accept", transition_path(dossier, :accept), method: :put, data: { confirm: 'Are you sure?' } %>
                      </li>
                    <% end %>
                  </ul>
              </div>
            </td>
          </tr>

          <tr>
            <!-- Row 2 Bellow: Hash Tags, double width -->
            <td class="quarter-width" colspan="3">
              <% dossier.hashtags.each do |hashtag| %>
                <%= hashtag.content %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>



<div class="current_class">
  <h2 style="text-align: center">Accepted Students</h2>
  <% @confirmed.each do |dossier| %>
  <div class="one_student" style="width:420px; height:200px; border:2px solid #0088CC; display:inline-block;">
    <div class="row-fluid table">
      <table class="table table-hover">
        <tbody>  
          <tr>
            <td>
              <img src="http://placekitten.com/80/100">
            </td>
            <td>
              <%= form_tag(display_hashtags_path(dossier), method: "post") %>
              <%= select_tag "Add Hashtag", "<option>hello</option><option>pow</option>".html_safe, :style=>"width:100px;" %>
            </td>
            <td>
              <%= select_tag "Add Hashtag", "<option>hello</option><option>pow</option>".html_safe, :style=>"width:100px;" %>
            </td>
          </tr>
          <tr>
            <td>
              <% dossier.hashtags.each do |hashtag| %>
                <%= hashtag.content %>
              <% end %>
            </td>
          </tr>

        </tbody> 
      </table>
    </div>
  </div>
  <% end %>
</div>

