<!-- current courses select box -->
<h1>
  List of courses
</h1>

<div>
<% @courses.each do |course| %>
  <div>
    <%= course.semester %>
  </div>
<% end %>
</div>

<!-- class stats view -->
<div class="class-stats">
</div>


<!-- the needs decision view -->
<div class="needs_decision span">
  <h2>Applicants who Need a Decision</h2>
  <div class="row-fluid table">
    <table class="table table-hover">

      <% @dossiers.each do |dossier| %>
        <tbody class="tbody-border">

          <tr>
            <!-- column 1 -->
            <td class="quarter-width">
              <span class="label label-info"><%= dossier.aasm_state %></span><h3 style="display:inline-block; padding-left:0; margin-left:0;"><%= dossier.user.full_name %></h3>
            </td>

            <!-- column 2 -->
            <td class="quarter-width">
              <a class = "btn-flat default icon-heart-empty fancybox" data-href="<%= dossier_path(dossier.id, :layout => "false") %>" href="#">
                See App
                <i class=""></i>
              </a>
            </td>

            <!-- column 3 -->
            <td class="quarter-width">
              <a class="btn-flat inverse icon-thumbs-down fancybox" data-href="<%= admin_act_path(dossier.id, :layout=>"false") %>" href="#">
                <i class="icon-thumbs-up"></i>
              </a>
            </td>
          </tr>

          <tr>
            <!-- Row 2 Bellow: Hash Tags, double width -->
            <td class="quarter-width" colspan="3">
              <% dossier.hashtags.each do |hashtag| %>
                <%= hashtag.content %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>




<!-- the current class view -->
<div class="current_class">
  <h2>Pending Applicants</h2>
  <% if @pending %>
    <div style="margin-left:auto; margin-right:auto;">
      <% @pending.each do |dossier| %>    
          <span style="display:inline-block; margin:0px 10px; padding:50px; position:relative; border-bottom:3px dotted grey;">
            <img src="http://placekitten.com/180/180" style="margin-left:auto; margin-right:auto;">
            <h4 style="position:absolute; left:0;"><%= name(dossier.user) %></h4>
          </span>
      <%end%>
    </div>
  <% end %>

  <div style="margin-top:50px; padding-top;50px border:10px;">
    <h2>Flatiron Class</h2>
    <% if @confirmed %>
      <div style="margin-left:auto; margin-right:auto;">
        <% @confirmed.each do |dossier| %>    
            <span style="display:inline-block; margin:0px 10px; padding:50px; position:relative; border-bottom:3px dotted grey;">
              <img src="http://placekitten.com/180/180" style="margin-left:auto; margin-right:auto;">
              <h4 style="position:absolute; left:0;"><%= name(dossier.user) %></h4>
            </span>
        <%end%>
      </div>
    <%end%>
  <%= link_to "Create a new course", new_course_path %>
  </div>
</div>