<div class="dossier-form-container">


  <%= form_for(score, url: dossier_score_index_path(@dossier))  do |f| %>
    <%= render "shared/error_messages", :target => @user %>
    
    <div class=" field-box pull-right">
      <%= f.label :passion %><%= mark_required(@user, :passion) %>
      <%= f.select :passion, options_for_select([1,2,3,4,5]) %>
    </div>
    
    <div class=" field-box pull-right">
      <%= f.label :tech %><%= mark_required(@user, :tech) %>
      <%= f.select :tech, options_for_select([1,2,3,4,5]) %>
    </div>
    
    <div class=" field-box pull-right">
      <%= f.label :leadership %><%= mark_required(@user, :leadership) %>
      <%= f.select :leadership, options_for_select([1,2,3,4,5]) %>
    </div class= "pull-right">

    <div>
      <h6> Current Attribute Scores:</h6>
      <div = class = "alert alert-info">
       
        Passion: <%=score.passion %><br>
        Tech: <%=score.tech %><br>
        Leadership: <%=score.leadership %><br>
        
      </div>
    
    </div>
    <%= f.submit  "Submit Scores", :class=>'btn-glow primary' %>

    <%end%>

    
</div