<div class="container">

  <%= render "dossiers/alert_notice" %>

  <!-- APPLICATION STATUS BOX -->
  <%= render "dossiers/application_status" %>

  <% if current_user.id == @dossier.user_id  %>
    <!-- # @dossier.belongs_to_user? current_user --> 
    <!-- PREWORK BOX --> 
    <!-- HIDE FROM ADMINS -->
    <%= render "dossiers/prework" %>
  <% end %>

  <!-- APPLICATION SUMMARY BOX -->
  <%= render "dossiers/application_summary" %>

  <% if can? :update, @dossier  %>
    <!-- COMMENTS BOX  --> 
    <!-- HIDE FROM APPLICANTS -->
  <%= render "interview/attribute_definer", :score => @score %>
  <%end%>

  <% if can? :update, @dossier  %>
    <!-- COMMENTS BOX  --> 
    <!-- HIDE FROM APPLICANTS -->
    <%= render "dossiers/comments" %>


  <% end %>
</div>