<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <%#= [params[:controller], params[:action]].inspect %>
    <% if can? :manage, Dossier %>
      <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["courses", "dashboard"]} %>
        <%= link_to dashboard_path do %>
          <i class="icon-home"></i>
          <span>Dashboard</span>
        <% end %>
      </li>
      <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["dossiers", "index"]} %>
        <%= link_to dossiers_path do %>
          <i class="icon-reorder"></i>
          <span>Applications</span>
        <% end %>
      </li>
      <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["thinner", "index"]} %>
        <%= link_to thinner_path do %>
          <i class="icon-fighter-jet"></i>
          <span>Glancer</span>
        <% end %>
      </li>
      <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["needs_review", "show"]} %>
        <%= link_to needs_review_first_path do %>
          <i class="icon-pencil"></i>
          <span>Reviewer</span>
        <% end %>
      </li>
      <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["needs_interview", "index"]} %>
        <%= link_to dossier_interview_path do %>
          <i class="icon-comment"></i>
          <span>Interviewer</span>
        <% end %>
      </li>
      <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["courses", "show"]} %>
        <%= link_to courses_path do %>
          <i class="icon-beaker"></i>
          <span>Class Maker</span>
        <% end %>
      </li>

      <li>
        <a class="dropdown-toggle" href="#">
          <i class="icon-share-alt"></i>
          <span>Extras</span>
          <i class="icon-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="http://syllaboss.com">SylaBOSS</a></li>
          <li><a href="https://github.com/flatiron-school/teamline-redux">Teamline</a></li>
          <li><a href="https://github.com/flatiron-school/assignmentio-redux">Assignment.io</a></li>
          <li><a href="https://github.com/flatiron-school/hire-redux">Employment CRM</a></li>
        </ul>
      </li>
      
    <% else # current user cannot manage dossiers %>
      <% if current_user # and someone is logged in... ok this is an applicant! %>
        <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["dossiers", "new"]} %>
          <%= link_to new_dossier_path do %>
            <i class="icon-edit"></i>
            <span>New Dossier</span>
          <% end %>
        </li>
        <%= render "layouts/flatiron_links" %>
      <% else # no one is logged in... okay let's show the logged out stuff: %>
        <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["dossiers", "new"]} %>
          <%= link_to new_dossier_path do %>
            <i class="icon-edit"></i>
            <span>New Dossier</span>
          <% end %>
        </li>
        <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["sessions", "new"]} %>
          <%= link_to login_path do %>
            <i class="icon-user"></i>
            <span>Login</span>
          <% end %>
        </li>
        <%= render "layouts/flatiron_links" %>
      <% end %>
    <% end %>
  </ul>
</div>
<!-- end sidebar -->