<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <% if can? :manage, Dossier %>
      <li class="active">
        <%= render 'layouts/sidebar_pointer' %>
        <%= link_to dossiers_path do %>
          <i class="icon-home"></i>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <a class="dropdown-toggle ui-elements" href="#">
          <i class="icon-code-fork"></i>
          <span>Admin Flow</span>
          <i class="icon-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li>
            <%= link_to thinner_path do %>
              Elevator Pitches
            <% end %>
          </li>
          <li>
            <%= link_to needs_review_first_path do %>
              Reviewer
            <% end %>
          </li>
          <li>
            <%= link_to dossier_interview_path do %>
              Interviewer
            <% end %>
          </li>
          <li>
            <%= link_to courses_path do %>
              Class Maker
            <% end %>
          </li>
        </ul>
      </li>          
      <li>
        <a class="dropdown-toggle" href="#">
          <i class="icon-group"></i>
          <span>Dossiers</span>
          <i class="icon-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="user-list.html">User list</a></li>
          <li><a href="new-user.html">New user form</a></li>
          <li><a href="user-profile.html">User profile</a></li>
        </ul>
      </li>

      <li>
        <a class="dropdown-toggle" href="#">
          <i class="icon-share-alt"></i>
          <span>Extras</span>
          <i class="icon-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="https://github.com/flatiron-school/syllaboss">SylaBOSS</a></li>
          <li><a href="https://github.com/flatiron-school/teamline-redux">Teamline</a></li>
          <li><a href="https://github.com/flatiron-school/assignmentio-redux">Assignment.io</a></li>
          <li><a href="https://github.com/flatiron-school/hire-redux">Employment CRM</a></li>
        </ul>
      </li>
    <% else %>
      <% if !current_user %>
        <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["sessions", "new"]} %>
          <%= link_to login_path do %>
            <i class="icon-user"></i>
            <span>Login</span>
          <% end %>
        </li>
      <% end %>
      <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["dossiers", "new"]} %>
        <%= link_to new_dossier_path do %>
          <i class="icon-edit"></i>
          <span>New Dossier</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<!-- end sidebar -->