

<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <%#= [params[:controller], params[:action]].inspect %>
    <% if can? :manage, Dossier %>
      <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["dossiers", "index"]} %>
        <%= link_to dossiers_path do %>
          <i class="icon-home"></i>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <a class="dropdown-toggle ui-elements" href="#">
          <i class="icon-code-fork"></i>
          <span>Admin Flow</span>
          <i class="icon-chevron-down"></i>
        </a>
        <% if ['thinner index', 'needs_review show', 'needs_interview index', 'courses index'].include? "#{params[:controller]} #{params[:action]}" %>
          <ul class='submenu active'>
            <div class="pointer">
              <div class="arrow"></div>
              <div class="arrow_border"></div>
            </div>
        <% else %>
          <ul class='submenu'>
        <% end %>
          <li>
            <%= link_to thinner_path, :class => active?("thinner", "index") do %>
              Elevator Pitches
            <% end %>
          </li>
          <li>
            <%= link_to dossiers_path, :class => active?("needs_review", "show") do %>
              Reviewer
            <% end %>
          </li>
          <li>
            <%= link_to dossier_interview_path, :class => active?("needs_interview", "index") do %>
              Interviewer
            <% end %>
          </li>
          <li>
            <%= link_to courses_path, :class => active?("courses", "index") do %>
              Class Maker
            <% end %>
          </li>
        </ul>
      </li>          

      <li>
        <a class="dropdown-toggle" href="#">
          <i class="icon-share-alt"></i>
          <span>Extras</span>
          <i class="icon-chevron-down"></i>
        </a>
        <ul class="submenu">
          <li><a href="https://github.com/flatiron-school/syllaboss">SylaBOSS</a></li>
          <li><a href="https://github.com/flatiron-school/teamline-redux">Teamline</a></li>
          <li><a href="https://github.com/flatiron-school/assignmentio-redux">Assignment.io</a></li>
          <li><a href="https://github.com/flatiron-school/hire-redux">Employment CRM</a></li>
        </ul>
      </li>
      
    <% else %>
      <% if current_user %>
        <li><a href="http://twitter.com/flatironschool">@flatironschool</a></li>
      <% else %>
        <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["dossiers", "new"]} %>
          <%= link_to new_dossier_path do %>
            <i class="icon-edit"></i>
            <span>New Dossier</span>
          <% end %>
        </li>
        <%= render :partial => "layouts/sidebar_pointer", :locals => {:controller_action => ["sessions", "new"]} %>
          <%= link_to login_path do %>
            <i class="icon-user"></i>
            <span>Login</span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<!-- end sidebar -->