<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title> <!-- check /app/helpers/application_helper.rb for this method  -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<!--
  body will have classes of the controller and action,
  and then additional arbitrary classes assigned in controller
-->
<body class='<%= params[:controller] %> <%= params[:action] %> <%= @body_classes %>'>

  <%= yield %>

  <div id="user_nav">
    <% if @user %>
      Logged in as <%= @user.name %>. 
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Apply to Flatiron", new_dossier_path %>
    <% end %>
  </div>    

</body>
</html>
