 <h2>Comments</h2>
    <br>
    <% @dossier.dossier_comments.each do |comment| %>
      <li><%= comment.content %></li>
    <% end %>


    <%= form_tag dossier_dossier_comments_path(@dossier) do %>
      <%= label_tag "Comment" %>
      <%= text_area_tag "dossier_comments[content]" %>
      <%= hidden_field_tag "dossier_comments[dossier_id]", @dossier.id  %>
      <%= submit_tag "Submit Comment" %>
    <% end %>
